{
    "prefix_path": "..",
    "files": [
        "trustinsoft/stub.c",
        "src/zip.c"
    ],
    "machdep": "gcc_x86_64",
    "cpp-extra-args": [
        "-Isrc",
        "-DMINIZ_NO_TIME"
    ],
    "filesystem": {
        "system_errors": false,
        "files": [
            {
                "name": "/dev/null"
            },
            {
                "name": "./dotfiles",
                "type": "dir"
            },
            {
                "name": "/tmp",
                "type": "dir"
            },
            {
                "name": "foo-2.1.txt",
                "from": "trustinsoft/inputs/foo-2.1.txt"
            },
            {
                "name": "foo-2.2.txt",
                "from": "trustinsoft/inputs/foo-2.2.txt"
            },
            {
                "name": "foo-2.3.txt",
                "from": "trustinsoft/inputs/foo-2.3.txt"
            },
            {
                "name": "foo.zip",
                "from": "trustinsoft/inputs/foo.zip"
            },
            {
                "name": "input/1.txt",
                "from": "trustinsoft/inputs/foo-2.1.txt"
            },
            {
                "name": "input/2.txt",
                "from": "trustinsoft/inputs/foo-2.2.txt"
            },
            {
                "name": "input/more_input/3.txt",
                "from": "trustinsoft/inputs/foo-2.3.txt"
            }
        ]
    }
}
