{
    "files": [
        "trustinsoft/stub.c",
        "test/test.c",
        "src/zip.c"
    ],
    "machdep": "gcc_x86_64",
    "compilation_cmd": "-Isrc -DMINIZ_NO_TIME -D_LARGEFILE64_SOURCE=0",
    "filesystem": {
        "system_errors": false,
        "files": [
            {
                "name": "/dev/null"
            },
            {
                "name": "test.zip",
                "type": "dir"
            },
            {
                "name": "6.txt"
            },
            {
                "name": "7.txt"
            }
        ]
    }
}
