[
    {
        "name": "test.c",
        "include": "trustinsoft/common.config",
        "files": [
            "test/test.c"
        ],
        "filesystem": {
            "system_errors": false,
            "files": [
                {
                    "name": "/dev/null"
                }
            ]
        }
    },
    {
        "name": "examples.c : create",
        "include": "trustinsoft/common.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "create",
        "filesystem": {
            "system_errors": false,
            "files": [
                {
                    "name": "/dev/null"
                },
                {
                    "name": "foo-2.1.txt",
                    "from": "trustinsoft/inputs/foo-2.1.txt"
                },
                {
                    "name": "foo-2.2.txt",
                    "from": "trustinsoft/inputs/foo-2.2.txt"
                },
                {
                    "name": "foo-2.3.txt",
                    "from": "trustinsoft/inputs/foo-2.3.txt"
                }
            ]
        }
    },
    {
        "name": "examples.c : append",
        "include": "trustinsoft/common.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "append",
        "filesystem": {
            "system_errors": false,
            "files": [
                {
                    "name": "/dev/null"
                },
                {
                    "name": "foo.zip",
                    "from": "trustinsoft/inputs/foo.zip"
                }
            ]
        }
    },
    {
        "name": "examples.c : extract_into_a_folder",
        "include": "trustinsoft/common.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "extract_into_a_folder",
        "filesystem": {
            "system_errors": false,
            "files": [
                {
                    "name": "/dev/null"
                },
                {
                    "name": "foo.zip",
                    "from": "trustinsoft/inputs/foo.zip"
                }
            ]
        }
    },
    {
        "name": "examples.c : extract_into_memory",
        "include": "trustinsoft/common.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "extract_into_memory",
        "filesystem": {
            "system_errors": false,
            "files": [
                {
                    "name": "/dev/null"
                },
                {
                    "name": "foo.zip",
                    "from": "trustinsoft/inputs/foo.zip"
                }
            ]
        }
    },
    {
        "name": "examples.c : extract_into_memory_no_allocation",
        "include": "trustinsoft/common.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "extract_into_memory_no_allocation",
        "filesystem": {
            "system_errors": false,
            "files": [
                {
                    "name": "/dev/null"
                },
                {
                    "name": "foo.zip",
                    "from": "trustinsoft/inputs/foo.zip"
                }
            ]
        }
    },
    {
        "name": "examples.c : extract_entry_into_a_file",
        "include": "trustinsoft/common.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "extract_entry_into_a_file",
        "filesystem": {
            "system_errors": false,
            "files": [
                {
                    "name": "/dev/null"
                },
                {
                    "name": "foo.zip",
                    "from": "trustinsoft/inputs/foo.zip"
                }
            ]
        }
    },
    {
        "name": "examples.c : list_all_entries",
        "include": "trustinsoft/common.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "list_all_entries",
        "filesystem": {
            "system_errors": false,
            "files": [
                {
                    "name": "/dev/null"
                },
                {
                    "name": "foo.zip",
                    "from": "trustinsoft/inputs/foo.zip"
                }
            ]
        }
    },
    {
        "name": "examples.c : compress_folder_recursively",
        "include": "trustinsoft/common.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "compress_folder_recursively",
        "filesystem": {
            "system_errors": false,
            "files": [
                {
                    "name": "/dev/null"
                },
                {
                    "name": "input/1.txt",
                    "from": "trustinsoft/inputs/foo-2.1.txt"
                },
                {
                    "name": "input/2.txt",
                    "from": "trustinsoft/inputs/foo-2.2.txt"
                },
                {
                    "name": "input/more_input/3.txt",
                    "from": "trustinsoft/inputs/foo-2.3.txt"
                }
            ]
        }
    }
]
