[
    {
        "name": "test.c",
        "include": "common.config",
        "main": "main"
    },
    {
        "name": "test.c",
        "include": "common.config",
        "main": "test_write"
    },
    {
        "name": "test.c",
        "include": "common.config",
        "main": "test_append"
    },
    {
        "name": "test.c",
        "include": "common.config",
        "main": "test_read"
    },
    {
        "name": "test.c",
        "include": "common.config",
        "main": "test_extract"
    },
    {
        "name": "test.c",
        "include": "common.config",
        "main": "test_total_entries"
    },
    {
        "name": "test.c",
        "include": "common.config",
        "main": "test_entry_name"
    },
    {
        "name": "test.c",
        "include": "common.config",
        "main": "test_entry_index"
    },
    {
        "name": "test.c",
        "include": "common.config",
        "main": "test_entry_openbyindex"
    },
    {
        "name": "test.c",
        "include": "common.config",
        "main": "test_list_entries"
    },
    {
        "name": "test.c",
        "include": "common.config",
        "main": "test_fwrite"
    },
    {
        "name": "test.c",
        "include": "common.config",
        "main": "test_read_permissions"
    },
    {
        "name": "test.c",
        "include": "common.config",
        "main": "test_write_permissions"
    },
    {
        "name": "test.c",
        "include": "common.config",
        "main": "test_exe_permissions"
    },
    {
        "name": "test.c",
        "include": "common.config",
        "main": "test_mtime"
    },
    {
        "name": "test.c",
        "include": "common.config",
        "main": "test_unix_permissions"
    },
    {
        "name": "test.c",
        "include": "common.config",
        "main": "test_extract_stream"
    },
    {
        "name": "test.c",
        "include": "common.config",
        "main": "test_open_stream"
    },
    {
        "name": "test.c",
        "include": "common.config",
        "main": "test_entries_delete"
    }
]
