[
    {
        "name": "test.c, little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "test/test.c"
        ]
    },
    {
        "name": "test.c, little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "test/test.c"
        ]
    },
    {
        "name": "test.c, big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "test/test.c"
        ]
    },
    {
        "name": "test.c, big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "test/test.c"
        ]
    },
    {
        "name": "examples.c : create(), little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "create"
    },
    {
        "name": "examples.c : create(), little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "create"
    },
    {
        "name": "examples.c : create(), big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "create"
    },
    {
        "name": "examples.c : create(), big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "create"
    },
    {
        "name": "examples.c : append(), little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "append"
    },
    {
        "name": "examples.c : append(), little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "append"
    },
    {
        "name": "examples.c : append(), big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "append"
    },
    {
        "name": "examples.c : append(), big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "append"
    },
    {
        "name": "examples.c : extract_into_a_folder(), little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "extract_into_a_folder"
    },
    {
        "name": "examples.c : extract_into_a_folder(), little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "extract_into_a_folder"
    },
    {
        "name": "examples.c : extract_into_a_folder(), big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "extract_into_a_folder"
    },
    {
        "name": "examples.c : extract_into_a_folder(), big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "extract_into_a_folder"
    },
    {
        "name": "examples.c : extract_into_memory(), little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "extract_into_memory"
    },
    {
        "name": "examples.c : extract_into_memory(), little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "extract_into_memory"
    },
    {
        "name": "examples.c : extract_into_memory(), big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "extract_into_memory"
    },
    {
        "name": "examples.c : extract_into_memory(), big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "extract_into_memory"
    },
    {
        "name": "examples.c : extract_into_memory_no_allocation(), little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "extract_into_memory_no_allocation"
    },
    {
        "name": "examples.c : extract_into_memory_no_allocation(), little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "extract_into_memory_no_allocation"
    },
    {
        "name": "examples.c : extract_into_memory_no_allocation(), big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "extract_into_memory_no_allocation"
    },
    {
        "name": "examples.c : extract_into_memory_no_allocation(), big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "extract_into_memory_no_allocation"
    },
    {
        "name": "examples.c : extract_entry_into_a_file(), little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "extract_entry_into_a_file"
    },
    {
        "name": "examples.c : extract_entry_into_a_file(), little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "extract_entry_into_a_file"
    },
    {
        "name": "examples.c : extract_entry_into_a_file(), big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "extract_entry_into_a_file"
    },
    {
        "name": "examples.c : extract_entry_into_a_file(), big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "extract_entry_into_a_file"
    },
    {
        "name": "examples.c : list_all_entries(), little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "list_all_entries"
    },
    {
        "name": "examples.c : list_all_entries(), little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "list_all_entries"
    },
    {
        "name": "examples.c : list_all_entries(), big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "list_all_entries"
    },
    {
        "name": "examples.c : list_all_entries(), big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "list_all_entries"
    },
    {
        "name": "examples.c : compress_folder_recursively(), little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "compress_folder_recursively"
    },
    {
        "name": "examples.c : compress_folder_recursively(), little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "compress_folder_recursively"
    },
    {
        "name": "examples.c : compress_folder_recursively(), big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "compress_folder_recursively"
    },
    {
        "name": "examples.c : compress_folder_recursively(), big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "trustinsoft/examples.c"
        ],
        "main": "compress_folder_recursively"
    }
]